src/main/app/avn-xml-only.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <cxf:configuration name="CXF_Configuration_avn" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
    <mulexml:namespace-manager includeConfigNamespaces="true">
		<mulexml:namespace prefix="soap" uri="http://schemas.xmlsoap.org/soap/envelope/" />
		<mulexml:namespace prefix="con" uri="http://connect.avianis.com/Connect.asmx/" />
	</mulexml:namespace-manager>
    <ee:object-store-caching-strategy name="Caching_Strategy" keyGenerationExpression="#[sessionVars['avn-username']]" doc:name="Caching Strategy">
        <in-memory-store name="Cache Store" entryTTL="600"/>
    </ee:object-store-caching-strategy>
    <flow name="avianisFlow" doc:name="avianisFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP" path="avn"/>
        <set-session-variable variableName="avn-username" value="${avn.username}" doc:name="Set Username"/>     
        <set-session-variable variableName="avn-password" value="${avn.password}" doc:name="Set Password"/>
        <enricher source="#[xpath('//text()').text]" target="#[sessionVars['avn-token']]" doc:name="Fetch Auth Token">
            <flow-ref name="authFlow" doc:name="WS Auth"/>  			
        </enricher>
        <logger message="TOKEN FROM AUTH IS : #[sessionVars['avn-token']]" level="INFO" doc:name="Logger"/>
        <flow-ref name="getAcctsFlow" doc:name="WS Get Accounts"/>
    </flow>
    <flow name="getAcctsFlow" doc:name="getAcctsFlow">
    	<http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="get-accounts"  doc:name="HTTP"/>
    	<parse-template location="get-accounts.xml" doc:name="Parse Template"/>
        <cxf:proxy-client doc:name="AVNConnect" payload="envelope">
        </cxf:proxy-client>
        <message-properties-transformer doc:name="Message Properties" overwrite="true">
            <add-message-property key="SOAPAction" value="http://connect.avianis.com/Connect.asmx/GetAccounts"/>
		</message-properties-transformer>
        <http:outbound-endpoint exchange-pattern="request-response" host="devconnect.avianis.com" port="80" path="Connect.asmx" method="POST" doc:name="HTTP">        	
        </http:outbound-endpoint>
    </flow>
    <flow doc:name="authFlow" name="authFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="auth"  doc:name="HTTP"/>
            <parse-template location="auth.xml" doc:name="Parse Template"/>
            <cxf:proxy-client payload="envelope" doc:name="AVNConnect"/>
            <message-properties-transformer overwrite="true" doc:name="Message Properties">
                <add-message-property key="SOAPAction" value="http://connect.avianis.com/Connect.asmx/AuthenticateUser"/>
            </message-properties-transformer>
            <http:outbound-endpoint exchange-pattern="request-response" host="devconnect.avianis.com" port="80" path="Connect.asmx" method="POST" doc:name="HTTP"/>
            <mulexml:dom-to-xml-transformer returnClass="java.lang.String"></mulexml:dom-to-xml-transformer>
    </flow>
</mule>
